<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>VoterVerifyController</servlet-name>
        <servlet-class>Controller.VoterVerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>Controller.HomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VoterVerifyController</servlet-name>
        <url-pattern>/VoterVerifyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/HomepageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/e_voting</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
